*
{
    margin:0%;
    padding:0%;
}
header
{
    background-color:lightcoral;
    height: 45px;
    text-align: center;
    padding-top: 15px;
}

li
{
    display:inline;
    margin-right: 10px;
    margin-left: 10px;
    
}
a
{
   color:white;
   text-decoration-line: none;
   
}

img
{
    height:90%;
    width:90%;
    margin: auto;
}

h1
{
    text-align: center;
    color: gold;
}
main{
    height: 60vh;
}
#content_container
{
    width:100%;
    height: 55vh;    
    display: flex;
    padding: auto;
}
#image
{
    width:30%;
    height: 100%;
}
#image_description
{
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#image_description p{
    margin-bottom: 30px;
    margin-top: 10px;
}

#image_description button{
    padding: 15px 20px;
    background-color: orange;
    margin-top: 20px;
}